<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>ssh-monitor</title>
    </head>
    <body>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">ssh-monitor</a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Add Task</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <h1 class="page-header">Task list</h1>
                    </div>

                    {% for task in task_list %}
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a class="close" href="delete/{{task.id}}">×</a>
                                <a href="task/{{task.id}}" style="color: #333;text-decoration:none">
                                    <div>
                                        <h3>{{task.id}}</h3>
                                        <p>{{task.host}}</p>
                                    </div>
                                </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            </div>

            <!-- ACCORDEON 
                <div class="panel-group" id="accordion">
                {% for task in task_list %}
                <div class="panel panel-default">
                <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{task.id}}">
                {{task.id}}</a>
                </h4>
                </div>

                <div id="{{task.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                <form>
                <div class="form-group row">
                <div class="col-sm-5">
                </div>
                </div>

                <div class="form-group row">
                <div class="col-sm-5">
                </div>
                </div>

                <div class="form-group row">
                <div class="col-sm-5">
                </div>
                </div>

                <div class="form-group row">
                <label class="col-sm-3 form-control-label" for="task">Task:</label>
                <div class="col-sm-5">
                <select class="form-control c-select">
                {% for s in scripts %}
                {% if task.task == s %}
                <option selected>{{s}}</option>
                {% else %}
                <option value="{{s}}">{{s}}</option>
                {% endif %}
                {% endfor %}
                </select>
                </div>
                </div>

                <div class="form-group row">
                <label class="col-sm-3 form-control-label" for="interval">Interval:</label>
                <div class="col-sm-5">
                <input class="form-control" type="text" id="interval" value="{{task.interval}}"></input>
                </div>
                </div>

                <div class="form-group row">
                <label for="disks" class="col-sm-3 form-control-label" >Disks:</label>
                <div class="col-sm-5">
                <input class="form-control" type="text" id="disks" value="{{task.disks}}"></input>
                </div>
                </div>

                <div class="form-group row">
                <label class="col-sm-3 form-control-label" for="db_host">Graphite Host:</label>
                <div class="col-sm-5">
                <input class="form-control" type="text" id="db_host" value="{{task.db_host}}"></input>
                </div>
                </div>

                <div class="form-group row">
                <label class="col-sm-3 form-control-label" for="db_port">Graphite Port:</label>
                <div class="col-sm-5">
                <input class="form-control" type="text" id="db_port" value="{{task.db_port}}"></input>
                </div>
                </div>

                <div class="form-group row">
                <label class="col-sm-3 form-control-label" for="path">Graphite path:</label>
                <div class="col-sm-5">
                <input class="form-control" type="text" id="path" value="{{task.path}}"></input>
                </div>
                </div>

                <div style="btn-toolbox">
                <button type="button" class="btn btn-success">Update</button>
                <button type="button" type="submit" formaction="task/{{task.id}}" class="btn btn-danger">Delete</button>
                </div>
                </form>
                </div>
                </div>
                </div>
                {% endfor %}
                </div> -->
                </div>


    </body>
</html>


